PORT=3000
POSTGRES_DATABASE_URL=

#Agentic ai 
LLM_BASE_URL=https://openrouter.ai/api/v1
LLM_API_KEY=
LLM_MODEL=minimax/hailuo-3

#Storage
AI_DATABASE_URL=p

#agent observability
LANGSMITH_URL=
LANGSMITH_API_KEY=